<nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAh9AAAAJGU2YTdmYTc3LTA0OWYtNDg0Mi05ZDdmLWQzNDVjODQ4YzZkMA.jpgs" class="user-image img-responsive"/>
					</li>
				
					
                    <li>
                        <a  class="active-menu" href="#"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                      <li>
                        <a  href="#"><i class="fa fa-users fa-3x"></i> Users</a>
                    </li>
						   <li  >
                        <a  href="#"><i class="fa fa-bar-chart-o fa-3x"></i> Students Charts</a>
                    </li>	
                    </li>
                           <li  >
                        <a  href="#"><i class="fa fa-archive fa-3x"></i>Archive</a>
                    </li>		
					</li>
                    <li  >
                        <a  href="#"><i class="fa fa-file-text-o fa-3x"></i>Documents</a>
                    </li>   
					                   
                      
                
                    <li  >
                        <a  href="#"><i class="fa fa-table fa-3x"></i> Agenda</a>
                    </li>
                    <li  >
                        <a  href="#"><i class="fa fa-edit fa-3x"></i> Assignments </a>
                    </li>   	
                </ul>
               
            </div>
            
        </nav>